<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>SaltyAhri</title>
</head>


<div class="block">
  <% for(var i=0; i<users.length; i++) {%>
    <div class="floating-box shadow">
      <p class="info">
        ID: <%= users[i].User_ID %><br/>
        Name: <%= users[i].UserName %><br/>
	      Alive pic: <%= users[i].Alive_Picture %><br/>
        Dead pic: <%= users[i].Dead_Picture %>
      </p>
      <form class="editbutton" method="get" action="/profile/<%= users[i].User_ID%>">
        <button type="submit">Edit</button>
      </form>
    </div>
  <% } %>
</div>

</html>
